################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiThreadedSocketProgramming/.vs/MultiThreadedSocketProgramming/v15/Server/sqlite3/db.lock
